html, body, iframe {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#twitch-embed {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.page {
    position: relative;
    padding-bottom: 46%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
}

.page iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
 } 
