.body {
  margin: 0;
  background-color: #000000;
 } 

.page {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  heigth: auto;
  aspect-ratio:16/9;
  background-color: #000000;
 } 
